<!-- ログイン画面 -->

@page "/login"
@inject NavigationManager Navigation

<h1>ログイン画面</h1>

<input @bind="email" placeholder="メールアドレス"/>
<input @bind="password" type="password" placeholder="パスワード"/>
<button @onclick="HandLogin">ログイン</button>

<p>@message</p>

@code 
{
    private string? email;
    private string? password;
    private string? message;


    private void HandLogin()
    {
        if(string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password))
        {
            message = "メールアドレスとパスワードを入力してください。";
        }
        else
        {
            message = $"ログイン成功: {email}";
            Navigation.NavigateTo("/", forceLoad: true);
        }
    }
}